$border-radius: 3px;

/* Checkbox
----------------------------------*/
input[type="checkbox"] {
  -khtml-appearance: none;
  background: inline-image("aristo/aristo-checkbox-o.png") no-repeat;
  width: 15px;
  height: 16px;
  
  &:checked {
    background: inline-image("aristo/aristo-checkbox-x.png") no-repeat;
  }
}

.checker {
  @include inline-block;
  
  background: inline-image("aristo/aristo-checkbox-o.png") no-repeat;
  width: 15px;
  height: 16px;
  position: relative;
  
  span {
    display: -moz-inline-box;
    display: inline-block;
    text-align: center;
    
    &.checked { background: inline-image("aristo/aristo-checkbox-x.png") no-repeat; }
  }
}

/* Radio button
----------------------------------*/
input[type="radio"], .radio {
  -khtml-appearance: none;
  background: inline-image("aristo/aristo-radio-o.png") no-repeat;
  width: 17px;
  height: 17px;
  
  &:checked {
    border: none;
    background: inline-image("aristo/aristo-radio-x.png") no-repeat;
  }
}

.radio {
  @include inline-block;
  
  background: inline-image("aristo/aristo-radio-o.png") no-repeat;
  width: 17px;
  height: 17px;
  position: relative;
  
  span {
    display: -moz-inline-box;
    display: inline-block;
    text-align: center;
    
    &.checked { background: inline-image("aristo/aristo-radio-x.png") no-repeat; }
  }
}

/* Text fields
----------------------------------*/
input, textarea {
  @extend .regular-font;
  line-height: 1;
  padding: 4px;
}

/* Textarea
----------------------------------*/
textarea {
  /* To give the same inset shadows as input[type='text'] */
  @include appearance(textfield);
  resize: none;
  padding: 4px;
  /* 
    Hack to make the same size as text inputs,
    since their native border isn't taken into
    account when calculating width.
  */
  padding-right: 6px;
}

/* Search field
----------------------------------*/
input[type=search] {
  -moz-appearance: searchfield;
  padding: 0;
}

/* Select boxes
----------------------------------*/
select, .selector {
  @extend .regular-font;
  @include appearance(none);
  @include border-radius($border-radius 0 0 $border-radius);
  @include box-sizing(border-box);
  @include box-shadow(#f5f5f5, 0, 1px, 1px, inset);
  @include inline-block;
  @include linear-gradient(color-stops(#E9E9E9, #B8B8B7), top);
  @include text-shadow(#fff, 0, 1px, 1px);
  @include background-clip(padding-box);
  
  color: #4f4f4f;
  border: {
    width: 1px;
    style: solid;
    color: #AFAFAF #9A9A9A #828282 #9A9A9A;
  }
  
  position: relative;
  outline: none;
  height: $line-height;
  padding: 0 12px;
  margin-right: 24px;
  
  span {
    @extend .regular-font;
    cursor: pointer;
  }
  
  &:after {
    content: " ";
    top: -1px;
    right: -24px;
    position: absolute;
    display: inline-block;
    padding: 0 12px;
    height: $line-height;
    width: 24px;
    
    @include appearance(none);
    @include border-radius(0 $border-radius $border-radius 0);
    @include box-sizing(border-box);
    @include box-shadow(#D9EDF9, 0, 1px, 1px, inset);
    @include linear-gradient(color-stops(#B2D9F0, #78A1BC), top);
    @include text-shadow(#fff, 0, 1px, 1px);
    @include background-clip(padding-box);
    
    color: #1C4257;
    border: {
      width: 1px;
      style: solid;
      color: #7EA1B7 #5D7C8F #4C6B7E #5D7C8F;
    }
  }
  
  select {
    top: 0;
    left: 0;
  }
}