$border-radius: 3px;

/* Checkbox
----------------------------------*/
input[type="checkbox"] {
  -khtml-appearance: none;
  background: inline-image("aristo/aristo-checkbox-o.png") no-repeat;
  width: 15px;
  height: 16px;
  
  &:checked {
    background: inline-image("aristo/aristo-checkbox-x.png") no-repeat;
  }
}

.checker {
  @include inline-block;
  
  background: inline-image("aristo/aristo-checkbox-o.png") no-repeat;
  width: 15px;
  height: 16px;
  position: relative;
  
  span {
    display: -moz-inline-box;
    display: inline-block;
    text-align: center;
    
    &.checked { background: inline-image("aristo/aristo-checkbox-x.png") no-repeat; }
  }
}

/* Radio button
----------------------------------*/
input[type="radio"], .radio {
  -khtml-appearance: none;
  background: inline-image("aristo/aristo-radio-o.png") no-repeat;
  width: 17px;
  height: 17px;
  
  &:checked {
    border: none;
    background: inline-image("aristo/aristo-radio-x.png") no-repeat;
  }
}

.radio {
  @include inline-block;
  
  background: inline-image("aristo/aristo-radio-o.png") no-repeat;
  width: 17px;
  height: 17px;
  position: relative;
  
  span {
    display: -moz-inline-box;
    display: inline-block;
    text-align: center;
    
    &.checked { background: inline-image("aristo/aristo-radio-x.png") no-repeat; }
  }
}

/* Text fields
----------------------------------*/
input, textarea {
  @extend .regular-font;
  line-height: 1;
  padding: 4px;
}

/* Textarea
----------------------------------*/
textarea {
  /* To give the same inset shadows as input[type='text'] */
  @include appearance(textfield);
  resize: none;
  padding: 4px;
  /* 
    Hack to make the same size as text inputs,
    since their native border isn't taken into
    account when calculating width.
  */
  padding-right: 6px;
}

/* Search field
----------------------------------*/
input[type=search] {
  -moz-appearance: searchfield;
  padding: 0;
}

/* Selectmenu
----------------------------------*/
.ui-selectmenu {
  @include inline-block;
  position: relative;
  text-decoration: none;
  padding-right: $line-height;
  
  .ui-selectmenu-status {
    @extend .bold-font;
    @include border-radius($border-radius 0 0 $border-radius);
    @include box-sizing(border-box);
    @include box-shadow(#f5f5f5, 0, 1px, 1px, inset);
    @include linear-gradient(color-stops(#E9E9E9, #B8B8B7), top);
    @include text-shadow(#fff, 0, 1px, 1px);
    @include background-clip(padding-box);

    color: #4f4f4f;
    border: {
      width: 1px 0 1px 1px;
      style: solid;
      color: #AFAFAF #9A9A9A #828282 #9A9A9A;
    }
    
    display: block;
    height: $line-height;
    padding: 0 12px;
  }
  
  
  .ui-selectmenu-icon {
    @extend .regular-font;
    @include border-radius(0 $border-radius $border-radius 0);
    @include box-sizing(border-box);
    @include box-shadow(#D9EDF9, 0, 1px, 1px, inset);
    @include linear-gradient(color-stops(#B2D9F0, #78A1BC), top, inline-image("aristo/aristo-select-arrow.png"));
    @include text-shadow(#fff, 0, 1px, 1px);
    @include background-clip(padding-box);
    
    position: absolute;
    top: 0;
    right: 0;
    height: $line-height;
    width: $line-height;
    background-position: 50% 50%;
    color: #1C4257;
    border: {
      width: 1px;
      style: solid;
      color: #7EA1B7 #5D7C8F #4C6B7E #5D7C8F;
    }
  } 
}

.ui-selectmenu-menu { padding:0; margin:0; list-style:none; position:absolute; top: 0; visibility: hidden; overflow: auto; }
.ui-selectmenu-open { visibility: visible; }
.ui-selectmenu-menu-popup { margin-top: -1px; }
.ui-selectmenu-menu-dropdown { }

.ui-selectmenu-menu {
  background: #fafafa;
  @include border-radius($border-radius);
  @include box-sizing(border-box);
  @include box-shadow(#c6c6c6, 0, 6px, 12px);
  @include background-clip(padding-box);
  
  padding: 6px 0;
  border: {
    width: 1px;
    style: solid;
    color: #bcbcbc;
  }
  
  li { padding:0; margin:0; display: block; }

  a {
    @extend .bold-font;
    @include box-sizing(border-box);
    @include text-shadow(#fff, 0, 1px, 1px);
    
    border-top: 1px solid #fff;
    color: #4f4f4f;
    display: block;
    height: $line-height;
    padding: 0 6px;
    text-decoration: none;
    
    &:hover {
      @include linear-gradient(color-stops(#75a4d9, #2a6ab4), top);
      @include text-shadow(#000, 0, 1px, 1px);

      border-top: 1px solid #5e94ce;
      color: #fff;
    }
  }
}