$border-radius: 3px;

.navbar {
  @extend .bold-font;
  @include box-sizing(border-box);
  @include linear-gradient(color-stops(#ececec, #d9d9d9), top);
  @include text-shadow(#fff, 0, 1px, 1px);
  
  border-bottom: 1px solid #a3a3a3;
  border-top: 1px solid #fff;
  color: #2b3033;
  font-size: 14px;
  height: $line-height * 1.5;
  padding: 5px 12px;
}