$border-radius: 3px;

.navbar {
  @extend .bold-font;
  @include box-sizing(border-box);
  @include linear-gradient(color-stops(#c7cfd5, #a8b2ba), top);
  @include text-shadow(#fff, 0, 1px, 1px);
  
  border-bottom: 1px solid #858c92;
  border-top: 1px solid #d9dee2;
  color: #2b3033;
  font-size: 14px;
  height: $line-height * 1.5;
  padding: 5px 12px;
}