.ui-outline {
  border: none;
  
  .ui-accordion-header {
    @include box-shadow(none);
    background-image: none;
    border: none;
  }
  
  .ui-accordion-content {
    border: none;
    padding: 0;
    
    a {
      @include box-sizing(border-box);
      @include text-shadow(#fff, 0, 1px, 1px);
      
      border-top: 1px solid rgba(0, 0, 0, 0);
      color: #000;
      display: block;
      height: $line-height;
      padding-left: 16px;
      text-decoration: none;
      
      &.selected {
        @include linear-gradient(color-stops(#75a4d9, #2a6ab4), top);
        @include text-shadow(#000, 0, 1px, 1px);

        border-top: 1px solid #5e94ce;
        color: #fff;
      }
    }
  }
}