table {
  width: 100%;
  color: #212121;
  
  th {
    @extend .bold-font;
    @include box-sizing(border-box);
    @include linear-gradient(color-stops(#fdfdfd, #dfdfdf), top);
    border: 1px solid #bdbdbd;
    border-width: 0 1px 1px 0;
    padding: 0 6px;
    
    &:last-child { border-right: none; }
  }
  
  td {
    @extend .regular-font;
    padding: 0 6px;
  }
}